
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}


header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
}

header nav a:hover {
    background-color: #575757;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;  
}


.sidebar {
    width: 200px; 
    background: #535dee;
    padding: 20px;
    height: calc(100vh - 4rem); 
    box-sizing: border-box; 
    position: sticky;
    top: 4rem; 
}

.main-wrapper {
    display: flex; 
    height: calc(100vh - 2rem); 
}

.content-section {
    width: 100%;
    max-width: 600px; 
    background: white; 
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 0;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box; 
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
